#header,#leftbar,#toolbar,#breadcrumbs,.related-links {
    display: none;
}
.fixed {
    padding-top: 0;
}
body {
    overflow: visible;
}
html {
    overflow-y: visible;
}
#center {
    overflow-y: visible;
}
article {
    overflow-y: visible;
}
article #printall {
    display: block;
}
#header,#leftbar,#toolbar,#breadcrumbs,#feedback,footer,.related-links,#feedback-modal-content {
    display: none;
}
